{
  "openapi": "3.1.0",
  "info": {
    "title": "ChemAssure Global API",
    "description": "API for ChemAssure Global — industrial foam control solutions, contact forms, lab search, and report downloads.",
    "version": "1.0.0",
    "contact": {
      "name": "ChemAssure Global",
      "url": "https://chemassureglobal.com/contact"
    }
  },
  "servers": [
    {
      "url": "https://chemassureglobal.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Server is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/contact": {
      "post": {
        "operationId": "submitContactForm",
        "summary": "Submit a contact form inquiry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "email", "message"],
                "properties": {
                  "name": { "type": "string" },
                  "email": { "type": "string", "format": "email" },
                  "company": { "type": "string" },
                  "phone": { "type": "string" },
                  "message": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Message sent successfully" },
          "400": { "description": "Validation error" },
          "500": { "description": "Server error" }
        }
      }
    },
    "/api/labs-search": {
      "get": {
        "operationId": "searchLabs",
        "summary": "Search NABL-accredited laboratories",
        "parameters": [
          { "name": "query", "in": "query", "schema": { "type": "string" }, "description": "Free-text search" },
          { "name": "state", "in": "query", "schema": { "type": "string" }, "description": "Filter by state" },
          { "name": "city", "in": "query", "schema": { "type": "string" }, "description": "Filter by city" },
          { "name": "disciplines", "in": "query", "schema": { "type": "string" }, "description": "Filter by discipline" },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 } },
          { "name": "sortBy", "in": "query", "schema": { "type": "string", "enum": ["name", "date", "relevance"] } }
        ],
        "responses": {
          "200": { "description": "Search results with pagination and filter options" },
          "500": { "description": "Server error" }
        }
      }
    },
    "/api/download-report": {
      "post": {
        "operationId": "requestSampleReport",
        "summary": "Request a sample QC report via email",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "email"],
                "properties": {
                  "name": { "type": "string" },
                  "email": { "type": "string", "format": "email" },
                  "company": { "type": "string" },
                  "phone": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Report sent successfully" },
          "400": { "description": "Validation error" },
          "500": { "description": "Server error" }
        }
      }
    }
  }
}
